body, html {
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#header {
    padding: 0px !important;
}

.container {
    background-color: #ffffff;
}

.btn-register {
    background-color: #0096D5;
}

#register {
    height: 200px !important;
    display: table;
    padding-top: 20px;
}

#register .row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.btn-register, .btn-register:hover, .btn-register:active, .btn-register:focus {
    color: #ffffff !important;
    outline: 0 !important;
    border: 0;
    box-shadow: none;
    background-color: #0096D5;
}

h2 {
    font-weight: 300;
}

h3 {
    margin-top: 40px;
    color: #0096D5;
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    margin-top: 20px;
}

.smaller {
    font-size: 0.9rem;
}

.time {
    font-weight: 500;
}

.project h5::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #0096D5;
}

.project p {
    font-size: 0.9rem;
}

#venue {
    padding-bottom: 30px;
}

a, a:active, a:visited {
    color: #0096D5;
    text-decoration: none;
}

a:hover {
    background-color: #0096D5;
    color: #ffffff;
    text-decoration: none;
}

.btn-light, .btn-light:active, .btn-light:visited, .btn-light:hover {
    border: 1px solid #eaeaea;
    background-color: #eaeaea;
    color: #000000 !important;
    text-decoration: none;
}

